@inherits LayoutComponentBase
@implements IDisposable

<PageTitle>FluentUIBlazorApp</PageTitle>

<FluentLayout>

    <FluentHeader>
        <a href="/" style="color: white;">Header</a>
        <FluentSpacer />
        About
    </FluentHeader>

    <FluentStack Orientation="Orientation.Horizontal" Width="100%">

        <FluentNavMenu Width="150">
            <FluentNavMenuLink Icon="new Icons.Regular.Size24.Home()" Text="Home" Href="/" />
            <FluentNavMenuLink Icon="new Icons.Regular.Size24.NumberCircle1()" Text="Counter" Href="/counter" />
            <FluentNavMenuLink Icon="new Icons.Regular.Size24.CalendarAgenda()" Text="Fetch data" Href="/fetchdata" />
        </FluentNavMenu>

        <FluentBodyContent>
            @Body
            <FluentFooter Style="@("height: 40px; color: white; text-align: center;")">
                Footer Text
            </FluentFooter>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

@inject NavigationManager navigationManager;

@code {

    string id = string.Concat(Guid.NewGuid().ToString().TakeLast(4));

    protected override void OnInitialized()
    {
        this.navigationManager.LocationChanged += this.Handler;
        Console.WriteLine("Initialized " + id);
    }

    private void Handler(object? sender, LocationChangedEventArgs args)
    {
        Console.WriteLine("Location changed from " + id);
    }

    public void Dispose()
    {
        this.navigationManager.LocationChanged -= this.Handler;
        Console.WriteLine("Disposed " + id);
    }
}
