@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p style="margin-bottom: 1rem;">
    Welcome to your new app.
</p>

<FluentDesignSystemProvider FillColor="#D6D6D6">
    <FluentCard neutral-palette-source="#CABA8C">
        <SurveyPrompt Title="How is Blazor working for you?" />
    </FluentCard>
</FluentDesignSystemProvider>

@code {
    protected override void OnInitialized()
    {
        AddMenu();
    }

    public static void AddMenu()
    {
        MainLayout.menu = new List<MenuItem>
        {
            new MenuItem
            {
                Icon = new Icons.Regular.Size24.Home(),
                Text = "Home",
                Href = "/"
            },
            new MenuItem
            {
                Icon = new Icons.Regular.Size24.PageFit(),
                Text = "Welcome",
                Href = "/welcome"
            }
        };
    }
}
